.notfound {
    font-size: 30px;
    padding: 100px 0;
    text-align: center;
    color: #fff;

    h1 {
        font-size: 60px;
        padding-top: 100px;
    }

    h2 {
        font-size: 40px;
    }
}